.contentone img {
  width: 100%;
}

/* Columne Style */
.contentone {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  width: 100%;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0;
  margin: 0;
}

.containerone {
 width: 90%;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
 padding: 0;
 margin: 0 auto;
    position: relative;
}

.contentone img{
padding-bottom: 4px;
}
