/* Basic Style */
body{
    background: url(https://googledrive.com/host/0Bz6HRVCs7oBaa1ZQSDVoMmdDTXc/mochaGrunge.png) repeat fixed;
    font-family: Lato;
    color: #1a1a1a;
    font-size: 18px; 
    word-wrap:  break-word;
    font-weight: 300;
}

a:link, a:visited {
    color: #750219;  
    text-decoration: none; 
    font-weight: 400;
}

a:hover{ 
    color: #736868; 
    border-top: 2px solid #A14D54;
}

.buttonbg{
    background: #b1bdc9; 
    padding: 3px; 
    color: white !important;
}

.buttonbg:hover{
    border-top: 0px; 
    background: #750219;
}

h1, h2, h3, h4, h5 {
    font-family: Lato;
    font-weight: 700; 
    text-transform: uppercase;
    color: #750219;
}

h2{
    font-size: 33px;
}

h1{
    font-size: 40px; 
    line-height: 1.7;
    text-align: right; 
    border-bottom: 3px solid #750219;
    margin-bottom: 20px;
    padding-right: 20px;
}

.links li{
    list-style-type: circle;
}

#container{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px; 
    background: #fffafa;
    margin-top: 80px; 
    height: auto;
}

@media screen and (max-width:500px){
    #container{
        width: 90%;
    }
}

#header{
    width: 100%;
    position: relative;
    top: 10px;
    text-align: center;
    margin: auto; 
}

.headpic img, .headpic{
    padding-bottom: 60px;
    margin-top: 25px; 
    width: 500px;
    max-width: 100%; 
}

.headpic:hover {
    border: 0; 
}

#credit{
    width: 100%;
    position: relative;
    top: 0px; 
    background: #fffafa;
    margin-top: 30px; 
    margin-bottom: 80px; 
    font-size: 14px;
    text-align: center;
}

#credit a:hover{
    border-top: 0;
}

img{
    max-width: 100%;
}

/* Navbar Style */
.navbar, .nav-collapse, .navbar .container, #bs-example-navbar-collapse-1{
    background: #1a1a1a;
    border-radius: 0;
    -webkit-border-radius: 0; 
    z-index: 20; 
}

.navbar .dropdown-menu li a:hover{
    background: #750219;
    color: white; 
}

.navbar a:hover{
    border: 0; 
}

.navbar-brand{
    font-weight: bold;
}

.searchfield input{
    border-radius: 0; 
    box-shadow: 0px 0px transparent;
    border: 0; 
}

.searchfield input:focus{
    box-shadow: 0px 0px transparent;
    border: 2px solid #A14D54; 
}

.searchfield{
    position: relative; 
    top: 7px; 
    right: 7px; 
}

/* Topbar Style */
.topbar{
    width: 100%; 
    background: #1a1a1a; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 30; 
}

.topbar a{
    color: rgba(255, 255, 255, .7)
}

.topbar a:hover{
    color: #fff;
    border-top: 0; 
}

.facebook a:hover, .fa-facebook:hover{color: #3b5998 !important;}
.twitter a:hover, .fa-twitter:hover{color: #00aced !important;}

@media screen and (max-width:450px){
    .topbar .navbar-brand{
        display: none;
    }
}

.exchange{
    position: absolute; 
    margin-top: -30px; 
    right: 0px;
}

/* Carousel Style */
#carousel-example-generic{
    width: 1300px; 
    max-width: 100%;
    position: realtive;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;  
}

.carousel-caption{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;  
}

.carousel-caption h3{
    font-weight: bold; 
    color: white; 
}

.carousel-caption h3 a{
    color: white !important
}

.carousel-caption h3 a:hover{
    opacity: .8; 
}

.carousel-control{
    color: rgba(255, 255, 255, .8);
}
/* hide if width is smaller than 500px */
@media screen and (max-width:500px){
    .carousel{
        display: none; 
    }
}

/* About Style */
.about{
    width: 70%;
    margin-left: 15%;
}
.box{
    width: 100%;
    font-size: 25px;
    text-align: center;
    position: relative; 
}

.job{
    opacity: .8;
    padding-top: 5px;
    border-top: solid 1px rgba(0,0,0, 1);
    position: relative;
    margin-top: 5px; 
    top: 7px; 
    width: 100%;
}

.name{
    font-size: 30px;
    padding-bottom: 5px; 
    width: 100%;
}

.imgr, .imgl{
padding: 10px; 
}

.imgr, .informationr{
    float: right;
    max-width: 100%; 
}

.informationl, .imgl{
    float: left; 
    max-width: 100%; 
}

.welcome{
    padding: 0 10px;
}

.rss2html-note{
    font-weight: 300;
    font-size: 70%; 
}

h1 a, h2 a, h3 a, h4 a, h5 a{
    font-weight: 700 !important; 
}
