<div class='carousel slide' id='carousel-example-generic'>
    <!-- Indicators -->
    <ol class='carousel-indicators'>
        <li class='active' data-slide-to='0' data-target='#carousel-example-generic'></li>
        <li data-slide-to='1' data-target='#carousel-example-generic'></li>
        <li data-slide-to='2' data-target='#carousel-example-generic'></li>
        <li data-slide-to='3' data-target='#carousel-example-generic'></li>
        <li data-slide-to='4' data-target='#carousel-example-generic'></li>
        <li data-slide-to='5' data-target='#carousel-example-generic'></li>
        <li data-slide-to='6' data-target='#carousel-example-generic'></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class='carousel-inner'>

        <div class='item active'>
            <img alt='Slide1 - Über Uns' src='http://2.bp.blogspot.com/-dUJ5LN7ZdFg/Uo-v9oMIhvI/AAAAAAAAIDY/DfQDlrf2iXQ/s1600/DSC03481_II.png'/>
            <div class='carousel-caption'>
                <h3><a href='/about'>Über Uns</a></h3>
                <p>Der Fachverein stellt sich vor</p>
            </div>
        </div>
	
        <div class='item'>
            <img alt='Slide2 - IPMZ' src='http://4.bp.blogspot.com/-iXTJ4CWixdQ/Uo-v8xUxj5I/AAAAAAAAIDU/eiXdqgHkNxA/s1600/DSC03485_II.png' target='_blank'/>
            <div class='carousel-caption'>
                <h3><a href='http://www.ipmz.uzh.ch/index.html' target="_blank">IPMZ</a></h3>
                <p>Alles über unser Institut</p>
            </div>
        </div>

        <div class='item'>
            <img alt='Slide3 - PuK-ABC' src='http://2.bp.blogspot.com/-FrSgekNCpzk/Uo-wCTKm1fI/AAAAAAAAID0/CbMmwA6RBMU/s1600/DSC03493_II.png'/>
            <div class='carousel-caption'>
                <h3><a href='/abc'>PuK ABC</a></h3>
                <p>Publizisitk und Kommunikationswissenschaften von A bis Z</p>
            </div>
        </div>

        <div class='item'>
            <img alt='Slide4 - News' src='http://3.bp.blogspot.com/-CHFcWrBSXTk/Uo-wDYr-8cI/AAAAAAAAID4/gFP848RBugc/s1600/DSC03499_II_edited.jpg'/>
            <div class='carousel-caption'>
                <h3><a href='#'>News</a></h3>
                <p>Alle Aktualitäten auf einen Blick</p>
            </div>
        </div>

        <div class='item'>
            <img alt='Slide5 - Lernplätze' src='http://3.bp.blogspot.com/-wb-7VBq-oOw/Uo-wHhP2HuI/AAAAAAAAIEM/dgQoO4Xq7bw/s1600/DSC03513_II_edited.jpg'/>
            <div class='carousel-caption'>
                <h3><a href='/life/#study'>Lernplätze</a></h3>
                <p>Wo man an der Uni auch mal seine Ruhe findet</p>
            </div>
        </div>
        
        <div class='item'>
            <img alt='Slide6 - F.A.Q' src='http://3.bp.blogspot.com/-aqRXZWX5fXw/Uo-wOdEcQqI/AAAAAAAAIE8/P3XkWE_2-hQ/s1600/DSC03525_II.png'/>
            <div class='carousel-caption'>
                <h3><a href='/faq'>F.A.Q</a></h3>
                <p>Antworten auf die meistgestellten Fragen</p>
            </div>
        </div>
        
        <div class='item'>
            <img alt='Slide7 - Kontakt' src='http://2.bp.blogspot.com/-qzhn_iPjsqU/Uo-wP-dBR-I/AAAAAAAAIFM/8a1cvtfpuO8/s1600/DSC03545_II.png'/>
            <div class='carousel-caption'>
                <h3><a href='/contact'>Kontakt</a></h3>
                <p>Fragen, Anregungen, Lob, Kritik. Nimm Kontakt mit uns auf</p>
            </div>
        </div>        
    </div>

    <!-- Controls -->
    <a class='left carousel-control' data-slide='prev' href='#carousel-example-generic'>
        <span class='icon-prev'></span>
    </a>
    <a class='right carousel-control' data-slide='next' href='#carousel-example-generic'>
        <span class='icon-next'></span>
    </a>
</div>
