<h3>Nützliche Links</h3>
<ul class="links">
    <li><a href="http://www.uzh.ch/index.html">UZH</a></li>
    <li><a href="http://www.ipmz.uzh.ch/index.html">IPMZ</a></li>
    <li><a href="http://www.marktplatz.uzh.ch/">Marktplatz UZH</a></li>
    <li><a href="https://www.uniboard.ch/startseite/">Uniboard</a></li>
    <li><a href="http://www.campuswelt.ch/home">Campuswelt</a></li>
    <li><a href="http://www.buchsuch.ch">Buchsuch.ch</a></li>
</ul>
<br/>
<br/>
<h3>Wir sind auf Facebook</h3>
    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Publizistik-UZH/193718193222" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
