<div class='topbar'>    
    <a class='navbar-brand' href='/'>FV PuK</a>
    <form action='http://www.google.co.uk/cse' class='pull-right searchfield' id='cse-search-box' role='search'>
        <input name='cx' type='hidden' value='014092313708849156193:sjsdsauqjuu'/>
        <input name='cof' type='hidden' value='UTF-8'/>
        <input class='form-control search-query span3' id='q' name='q' placeholder='Search' type='text'/>
    </form>
    <a class='facebook navbar-brand pull-right' href='#' style='display: inline;'><i class='fa fa-facebook fa-lg'></i></a>
    <a class='twitter navbar-brand pull-right' href='#' style='display: inline;'><i class='fa fa-twitter fa-lg'></i></a>
    <a class='rss navbar-brand pull-right' href='#' style='display: inline;'><i class='fa fa-rss fa-lg'></i></a>
</div>
