.about{
    width: 70%;
    margin-left: 15%;
}

.box{
    width: 100%;
    font-size: 25px;
    text-align: center;
    position: relative; 

    &:nth-of-type(odd){
        @include flexbox(row, nowrap, flex-start, center);

        .img{
            margin-right: 20px;
        }
    }
    &:nth-of-type(even){
        @include flexbox(row-reverse, nowrap, flex-start, center);

        .img{
            margin-left: 20px;
        }
    }
}

.mail{
    display: block;
    padding-top: 10px;
}

.job{
    opacity: .8;
    padding-top: 5px;
    border-top: solid 1px $black;
    position: relative;
    margin-top: 5px; 
    top: 7px; 
    width: 100%;
}

.name{
    font-size: 30px;
    padding-bottom: 5px; 
    width: 100%;
}
.img{
    img{
        max-width: 200px;
    }
}
