<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="../css/full.css">
        <link rel="shortcut icon" href="../favicon.ico">
    </head>
    <body class="full">
        {% include topbar.html %}
        
        <div id="container">
            {% include navbar.html %}
            <div id='header'>
                {% include header.html %}
            </div>
            <div id="content">
                {{ content }}
            </div>
            <div class="clear"></div>
            {% include credit.html %}
        </div>
        {% include script.html %}
   </body>
</html>