<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/sidebar.css">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        {% include topbar.html %}
        
        <div id="container">
            {% include navbar.html %}
            <div id='header'>
                {% include header.html %}
            </div>
            <div id="content">
                {{ content }}
            </div>
            <div id="sidebar">
                {% include sidebar.html %}
            </div>
            <div class="clear"></div>
            {% include credit.html %}
        </div>
        {% include script.html %}
    </body>
</html>
